# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# Unit test / coverage reports
coverage
.coverage.*
pytest_cache/


# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm-project.org/#use-with-ide
# .pdm.toml
# .pdm-python
# .pdm-build/

# VSCode

.vscode

# Output stuff
output_folder
data
*credentials*

# Drafts
notebooks/drafts.ipynb